.comment-container{
    display: flex;
    flex-direction:column;
    padding-left: 2.75rem;
    margin-top: 1.5rem;
    font-size: .9rem;
}

.comment-header{
    color: #2C2C2C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-header a{
    text-decoration: none;
    color: #45AAF1;
}

.comment-text{
    color: #666666;
}

.comment-text p{
    margin-top: .7rem;
    margin-bottom: .7rem;
}

.username{
    margin-right: 1rem;
}